<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.mpelant.deskclock"
    android:versionCode="1"
    android:versionName="1" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    

    <application
        android:icon="@mipmap/ic_launcher_alarmclock"
        android:label="@string/app_label" android:allowBackup="true">

        <!-- Dream (screensaver) implementation -->
        <service
            android:name="Screensaver"
            android:exported="true"
            android:label="@string/app_label" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_info" />
        </service>

        <!-- Settings activity for screensaver -->
        <activity
            android:name="ScreensaverSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/screensaver_settings"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>